*vivado*
*.rar*
Unidad01_Introduccion_a_Verilog/Lab01/sr_muxVioIla/sr_muxVioIla/muxVioIla/Arty_Master_v2.xdc
Unidad01_Introduccion_a_Verilog/Lab01/sr_muxVioIla/sr_muxVioIla/muxVioIla/shiftleds_muxVioIla.v
Unidad01_Introduccion_a_Verilog/Lab01/sr_muxVioIla/sr_muxVioIla/shiftReg/Arty_Master_v2.xdc
Unidad01_Introduccion_a_Verilog/Lab01/sr_muxVioIla/sr_muxVioIla/shiftReg/shiftleds.v
Unidad01_Introduccion_a_Verilog/Lab01/sr_muxVioIla/sr_muxVioIla/shiftReg/tb_shiftleds.v
