*vivado*
*.rar*
Unidad01_Introduccion_a_Verilog/Lab01/sr_muxVioIla/sr_muxVioIla/muxVioIla/Arty_Master_v2.xdc
Unidad01_Introduccion_a_Verilog/Lab01/sr_muxVioIla/sr_muxVioIla/muxVioIla/shiftleds_muxVioIla.v
Unidad01_Introduccion_a_Verilog/Lab01/sr_muxVioIla/sr_muxVioIla/shiftReg/Arty_Master_v2.xdc
Unidad01_Introduccion_a_Verilog/Lab01/sr_muxVioIla/sr_muxVioIla/shiftReg/shiftleds.v
Unidad01_Introduccion_a_Verilog/Lab01/sr_muxVioIla/sr_muxVioIla/shiftReg/tb_shiftleds.v
Unidad02_Modelado_de_Sistemas/Lab02/mem.hex
Unidad02_Modelado_de_Sistemas/Lab02/__MACOSX/fir/._filtro_fir.v
Unidad02_Modelado_de_Sistemas/Lab02/__MACOSX/fir/._tb_filtro_fir.v
Unidad02_Modelado_de_Sistemas/Lab02/__MACOSX/iir/._filter_tb.v
Unidad02_Modelado_de_Sistemas/Lab02/__MACOSX/iir/._iir.v
Unidad02_Modelado_de_Sistemas/Lab02/__MACOSX/iirv2/._.DS_Store
Unidad02_Modelado_de_Sistemas/Lab02/__MACOSX/iirv2/._iir_filter.v
Unidad02_Modelado_de_Sistemas/Lab02/__MACOSX/iirv2/._tb_iir_filter.v
Unidad02_Modelado_de_Sistemas/Lab02/__MACOSX/lab/._.DS_Store
Unidad02_Modelado_de_Sistemas/Lab02/__MACOSX/lab/python/._genmem.py
Unidad02_Modelado_de_Sistemas/Lab02/__MACOSX/lab/rtl/._top_design.v
Unidad02_Modelado_de_Sistemas/Lab02/iirv2/.DS_Store
Unidad02_Modelado_de_Sistemas/Lab02/iirv2/.ipynb_checkpoints/IIR_Filter_Design-checkpoint.ipynb
Unidad02_Modelado_de_Sistemas/Lab02/iirv2/tool/__pycache__/__init__.cpython-37.pyc
Unidad02_Modelado_de_Sistemas/Lab02/iirv2/tool/__pycache__/_fixedInt.cpython-37.pyc
Unidad02_Modelado_de_Sistemas/Lab02/lab/.DS_Store
Unidad02_Modelado_de_Sistemas/Lab02/lab/python/.ipynb_checkpoints/coeff-checkpoint.ipynb
Unidad02_Modelado_de_Sistemas/Lab02/lab/python/tool/__pycache__/__init__.cpython-37.pyc
Unidad02_Modelado_de_Sistemas/Lab02/lab/python/tool/__pycache__/__init__.cpython-38.pyc
Unidad02_Modelado_de_Sistemas/Lab02/lab/python/tool/__pycache__/__init__.cpython-312.pyc
Unidad02_Modelado_de_Sistemas/Lab02/lab/python/tool/__pycache__/_fixedInt.cpython-37.pyc
Unidad02_Modelado_de_Sistemas/Lab02/lab/python/tool/__pycache__/_fixedInt.cpython-38.pyc
Unidad02_Modelado_de_Sistemas/Lab02/lab/python/tool/__pycache__/_fixedInt.cpython-312.pyc
